body {
    margin: 0;
    padding: 0;
    color: #626262;
    font-family: 'Sanchez', 'Times New Roman', serif;
    font-weight: normal;
    font-size: 8px;
}

.container {
    width: 370px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background: linear-gradient(to bottom right, #e27b1a, #cfe224);
    color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0;
  }
  
  nav {
    margin-left: auto;
    margin-right: 50px;
  }
  
  nav ul {
    display: flex;
    list-style: none;
  }
  
  nav li {
    margin-left: 32px;
  }
  
  nav a {
    text-decoration: none;
    color: #1b1e21;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    transition: color 0.2s ease-in-out;
  }
  
  nav a:hover {
    color: #fbb03b;
  }

  footer {
    background-color: #1b1e21;
    color: #fff;
    padding: 4rem 0;
  }
  
  .footer-info h3 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  
  .contact-info h4,
  .social-icons h4 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .contact-info p,
  .social-icons a {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: #fff;
  }
  
  .social-icons a {
    display: inline-block;
    margin-right: 1rem;
  }
  
  .social-icons a i {
    font-size: 2rem;
    transition: color 0.2s ease-in-out;
  }
  
  .social-icons a:hover i {
    color: #fbb03b;
    cursor: pointer;
  }

  #contact {
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, #e27b1a, #ff0442), url('../images/contact.jpg') center/cover no-repeat;
  }

  #contact h2 {
    margin-left: 100px;
  }

  #contact label {
    color: #1b1e21;
    font-size: 24px;
  }
  
  #contact form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 64px;
    border-radius: 16px;
    max-width: 200px;
    margin-left: 165px;
  }
  
  #contact input,
  #contact textarea {
    width: 55px;
    padding: 16px;
    font-size: 15px;
    border: none;
    border-radius: 8px;
    background-color: #f2f2f2;
    margin-bottom: 24px;
    margin-right: 20px;
  }
  
  #contact input:focus,
  #contact textarea:focus {
    outline: none;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  }
  
  #contact button {
    display: block;
    padding: 16px 32px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: #1b1e21;
    color: #fff;
    border: none;
    border-radius: 48px;
    transition: background-color 0.2s ease-in-out;
  }
  
  #contact button:hover {
    background-color: #f8b45a;
  }